<nav class="navbar navbar-expand-lg bg-light" id="nav-bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="<%=root_path%>">Alpha Blogs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                <li class="nav-item">
                    <%= link_to "About Us",about_path,class:"nav-link"%>
                </li>
                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Articles
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <%= link_to "New Article",new_article_path, class:"dropdown-item" %>
                        </li>
                        <li>
                            <%= link_to "Articles Listing",articles_path, class:"dropdown-item" %>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                
                    <%= link_to "Alpha Bloggers", users_path,class: "nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Login",login_path,class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Logout",logout_path,data: { "turbo-method": :delete},class:"nav-link"%>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
</nav>